:root {
  --cinza: #576574;
  --cinza-imperial: #222f3e;
  --azul-claro: #54a0ff;
  --cinza-claro: #c8d6e5;
  --cyanite:#0abde3;
  --white-not-so-white: #f4f4ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background-color: var(--cinza-imperial);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.cards-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--cyanite);
  margin-bottom: 50px
}

.options {
  text-align: center;
  padding: 20px;
  flex-grow: 1;
}

.cards-options .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-options .date #clock {
  font-size: 2rem;
  color: var(--white-not-so-white);
  font-weight: bold;
  border-width: 3px;
  border-style: dotted;
}

.cards-options .date #calendar {
  font-size: 0.8rem;
}

.cards-options .search-bar {
  flex-grow: 2;
}
.cards-options .search-bar #search-input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.options select {
  padding: 10px 40px;
  text-transform: uppercase;
}

.cards-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cards-container {
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  line-height: 25px;
}

.tokenCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--cinza);
  width: 200px;
  height: 200px;
  padding: 30px 10px;
  border-radius: 50px;
  margin: 15px;
}

.tokenImg {
  width: 50px;
}

.tokenTitle {
  color: aliceblue;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.45rem;
}
.tokenValue {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: var(--cinza-claro);
}
.tokenValue .currencyType {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--azul-claro);
  padding: 5px;
  text-transform: uppercase;
}